$montserrat: 'Montserrat', sans-serif;

.searchBlock {
    margin-top: 20px;
    position: relative;

    span {
        position: absolute;
        left: 285px;
        top: 2px;
        color: #101F2A
    }
    input {
        
        font-family: $montserrat;
        font-size: 16px;
        line-height: 24px;
        color: #101F2A;
        background: none;
        border: none;
        border-bottom: 1px solid rgba(52, 70, 82, 0.5);
        padding-left: 3px;
        width: 280px;
        outline: none;
    }
    
}