$gold : #FFB143;
$white: #EFEBE4;
$lightgrey: #D9D2C6;
$montserrat: 'Montserrat', sans-serif;

.Sidebar {
    min-height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    background-image: linear-gradient(0deg, #344652 0%, #101F2A 100%);
    transition: 0.5s;

    @media (max-width: 767px) {
        position: fixed;
        width: calc(100% - 32px);
        z-index: 50;
        
        transition: 0.5s;
    }

    .header {
        color: $white;
        text-align: center;
        font-family: $montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        margin: 16px auto;

    }

    .user {
        display: flex;
        padding: 0 auto;
        margin: 25px 0 15px;
        .icon {
            color: $lightgrey;
            font-size: 24px;
        }

        .user-name {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            justify-content: center;

            .name {
                color: $white;
                font-family: $montserrat;
                font-size: 16px;
                line-height: 16px;
            }

            .log-out {
                button {
                    background: none;
                    border: none;
                    a {
                        font-family: $montserrat;
                        font-size: 14px;
                        line-height: 17px;
                        color: $gold;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
                
            }
        }
    }

    .search {
        margin: 24px 0px;

        form {
            input {
                width: 100%;
                font-family: $montserrat;
                font-size: 16px;
                line-height: 16px;
                color: $lightgrey;
                border: none;
                background: none;
                padding: 4px;
                border-bottom: 1px solid $lightgrey;
                outline: none;
            }

            input:focus {
                background-color: #c5ce71;
                color: grey;
            }
        }
    }

    .categories {
        padding: 10px 0;
        padding-bottom: 30px;
        .list-name {
            font-family: $montserrat;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 1.86667px;
            color: #D9D2C6;
            margin-bottom: 24px;
        }

        ul {
            padding: 0px;

            a { 
                text-decoration: none;
                li {
                    position: relative;
                    font-family: $montserrat;
                    font-size: 16px;
                    line-height: 16px;
                    color: $white;
                    transition: 0.5s;
                    text-decoration: none;
                    padding: 16px 0px 16px 12px;
                    list-style-type: none;

                }
    
                li:hover {
                    background-image: linear-gradient(90deg, #D9D2C6 0%, rgba(255, 255, 255, 0.0001) 91.48%);
                    border-left: 2px solid $gold;
                    transition: 0.5s;
                    color:#101F2A;
                }
            }

            
        }
    }

    .add-user {
        padding: 16px 0px;

        .add-button {
            background: none;
            border: none;
            font-family: $montserrat;
            font-size: 16px;
            line-height: 16px;
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }
}