$gold : #FFB143;
$white: #EFEBE4;
$lightgrey: #D9D2C6;
$montserrat: 'Montserrat', sans-serif;

.registrationWrapper{
    height: 100vh;
    background-color: #344652;
    padding-top: 100px;
    .registrationBlock {
        width: 300px;
        height: 330px;
        background-color: $lightgrey;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: auto;
        form {
            width: 85%;
            .info-line {
                margin-top: 15px;
                label {
                    font-family: $montserrat;
                    font-size: 12px;
                    line-height: 12px;
                    color: rgba(52, 70, 82, 0.5);
                    padding-left: 3px;
                }
                
                input {
                    font-family: $montserrat;
                    font-size: 16px;
                    line-height: 24px;
                    color: #101F2A;
                    background: none;
                    border: none;
                    border-bottom: 1px solid rgba(52, 70, 82, 0.5);
                    padding-left: 3px;
                    width: 100%;
                    outline: none;
                }
                input:focus, input:hover {
                    background-color: rgb(219, 188, 134);
                }

                input:-webkit-autofill,
                input:-webkit-autofill:hover, 
                input:-webkit-autofill:focus, 
                input:-webkit-autofill:active  {
                    -webkit-box-shadow: 0 0 0 30px rgb(219, 188, 134) inset !important;
                }
            }
            .loginButtons {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                button {
                    background: #344652;
                    border: none;
                    padding: 5px;
                    color: $white;
                    font-size: 16px;
                    border-radius: 3px;
                    cursor: pointer;
                    a {
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

