$gold : #FFB143;
$white: #EFEBE4;
$lightgrey: #D9D2C6;
$montserrat: 'Montserrat', sans-serif;

    .add {
        width: calc(100% - 320px);
        background-color: #EFEBE4;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        @media (max-width: 767px) {
            display: block;
            position: absolute;
            width: 100%;
            z-index: 5;
        }
        .header {
            background-color: $gold;
            height: 60px;
            padding: 10px 16px;
            font-family: $montserrat;
            font-size: 20px;
            line-height: 28px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #101F2A;
            box-shadow: 0px 2px 4px rgba(20, 34, 44, 0.498019);
            .burger {
                width: 24px;
                @media (min-width: 768px) {
                    display: none;
                } 
                button {
                    background: none;
                    border: none;
                    font-size: 24px;
                    line-height: 28px;
                    cursor: pointer;
                    outline: none;
                }
            }
            .center {
                text-align: center;
                width: calc(100% - 48px);
            }
            .option {
                width: 24px;
                button {
                    background: none;
                    border: none;
                    font-size: 24px;
                    line-height: 28px;
                    cursor: pointer;
                }
            }
        }
        .content {
            background-color: #EFEBE4;
            padding: 0px 16px;
            .photo {
                display: flex;
                justify-content: center;
                padding: 17px 0px 17px 0px;
                img {
                    width: 128px;
                    height: 128px;
                    border-radius: 50%;
                }
            }

            .add-form {
                form {
                    .info-line {
                        margin-top: 28px;
                        color: rgba(52, 70, 82, 0.5);
                        font-family: $montserrat;
                        font-size: 12px;
                        line-height: 12px;
                        label {
                            font-family: $montserrat;
                            font-size: 12px;
                            line-height: 12px;
                            color: rgba(52, 70, 82, 0.5);
                            padding-left: 3px;
                        }

                        textarea {
                            font-family: $montserrat;
                            font-size: 16px;
                            line-height: 24px;
                            color: #101F2A;
                            background: none;
                            border: none;
                            border-bottom: 1px solid rgba(52, 70, 82, 0.5);
                            padding-left: 3px;
                            width: 100%;
                            resize: none;
                            outline: none;
                        }
                }
                .submit-wrapper {
                    padding: 12px 0px;
                    display: flex;
                    justify-content: center;
                } 
            }
        }
        }
    }
        

 




    


